body {
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 2rem;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

li p:not(:last-child) {
  margin: 0;
}

.single-diary {
  border: 1px solid;
  margin: 5px 0;
  padding: 0 5px;
}

form {
  margin-left: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
